<!-- Projects Row -->
<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/49.gif") %> data-lightbox="set" data-title="Nijūbashi (Nijūbashi Bridge)　二重橋">
            <%= image_tag("prints/49.gif", :class => "img-responsive") %>
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href= <%= image_path("prints/50.gif") %> data-lightbox="set" data-title="Miyazaki hakkō ichiu no kichū (Foundation Pillar of the Entire World Under One Roof, Miyazaki)　宮崎八紘一宇の基柱">
            <%= image_tag("prints/50.gif", :class => "img-responsive") %>
        </a>
    </div>
</div>
<!-- /.row -->