<body class="home">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading"><strong> TOKURIKI 徳力</strong> </h1>
          <p>The work of Tokuriki Tomikichirō 徳力富吉郎 (1902-2000) is often described as an important bridge between the two great movements of Japanese art in the early twentieth century ー shin hanga (新版画) and sosaku hanga (創作版画).
            Like the classic shin hanga masters of the day, Tokuriki designed many woodcuts of landscapes and city views in the traditional manner, but also actively promoted sosaku hanga (creative prints) in Kyoto, which emphasized the exploration of more modern styles and trends.</p>
          <p>In appreciation of the sites featured in Tokuriki's 1941 series, <i>Scenes of Sacred and Historic Places</i>, we have mapped each print to its modern-day counterpart and are excited to present a new, interactive way of learning more about some of Japan's most beautiful and well-known locales. Please click the explore button to view the map, or the gallery button for more details regarding the print series.</p>
          <p class="lead">
            <%= link_to "GALLERY", gallery_path, :class => "btn btn-lg btn-default" %>
            <%= link_to "EXPLORE", explore_path, :class => "btn btn-lg btn-default" %>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p> <small>This application was built for the exhibition "A Sense of Place: Modern Japanese Prints" curated by Professor Julie Nelson Davis, located at the University of Pennsylvania Arthur Ross Gallery from April 10th - June 21, 2015. For more information about the exhibit, please visit the following <a href="http://www.arthurrossgallery.org/events/event/a-sense-of-place-modern-japanese-prints/"> link</a>. Built by <a href="https://fling.seas.upenn.edu/~gracexu">Grace Xu</a>.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
