<!DOCTYPE html>
<html>
<head>
  <title>Tokuriki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p> what the diddly doo dah is goin on</p>
<%= yield %>

</body>
</html>
